#!/bin/bash

#
# Managed with Ansible
#

DOMAIN=$1
TS=$(date +"%Y%m%d-%H%M%S")

mkdir -p /data/fast/_deleted

test -d /data/fast/$DOMAIN && {
  virsh destroy $DOMAIN
  virsh pool-stop $DOMAIN
  virsh pool-destroy $DOMAIN
  mv /data/fast/$DOMAIN /data/fast/_deleted/${DOMAIN}_${TS}
  virsh dumpxml $DOMAIN > /data/fast/_deleted/${DOMAIN}_${TS}/${DOMAIN}.xml
  virsh undefine $DOMAIN
  virsh pool-undefine $DOMAIN
}
