<pool type='dir'>
  <name>{{ lvm_data_name }}</name>
  <source>
  </source>
  <target>
    <path>/data/{{ lvm_data_name }}</path>
    <permissions>
      <mode>0755</mode>
      <owner>0</owner>
      <group>0</group>
    </permissions>
  </target>
</pool>
